.all-signin-list-page{
    background-color: #d8d8d6;
}
.all-signin-list-box{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #000;
}
.all-signin-container{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.all-signin-container h2{
    font-size: 23px;
    margin: 10px 0px;
}
.all-signin-list{
    width: 45%;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in-with-btn, .signup-btn-in-signin{
    width: 230px;
    height: 35px;
    display: flex;
    align-items: center;
    font-family: inherit;
    border: 1px solid #c4c2c2;
    border-radius: 5px;
    padding: 4px 8px;
    box-sizing: border-box;
    margin: 10px 0px;
    cursor: pointer;
}
.sign-in-with-logo{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.signin-page-details-side{
    border-left: 1px solid #c4c2c2;
    padding: 10px 20px;
    box-sizing: border-box;
}
.sign-in-with-text, .signup-btn-text{
    font-size: 14px;
    font-weight: bold;
}
.signin-page-detail{
    margin-bottom: 10px;
    width: 85%;
}
.signin-page-detail strong, .signin-page-detail p{
    margin: 2px;
    font-size: 13px;
}
.g-signin{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
#or-line{
    /* margin: 20px auto 0px; */
    width: 230px;
    border-bottom: 1px solid #000;
    height: 8px;
    text-align: center;
    font-size: 14px;
}
#or-line span{
    background-color: #fff;
    padding: 0px 15px;
    color: #000;
}
.signup-btn-in-signin{
    background-color: #E4B721;
    border: none;
    justify-content: center;
}