.main-container{
    margin: 50px 50px 0px;
    display: flex;
    justify-content: space-between;
    height: 550px;
}
.horizontal-carousel{
    height: 550px;
    position: relative;
    width: 70%;
}
.vertical-carousel{
    height: 100%;
    width: 29%;
}
.horizontal-banner{
    height: 100%;
    width: 100%;
}
.horizontal-banner-details{
    position: absolute;
    bottom: 40px;
    left: 200px;
    width: 500px;
    color: #fff;
    display: flex;
    align-items: center;
}
.horizontal-banner-title{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
}
.carousel-nav{
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 50px;
    background-color: hsla(0, 0%, 93%, 0.295);
    border: 1px solid #ffffffb3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.carousel-nav-left{
    position: absolute;
    left: 10px;
    bottom: 50%;
}
.carousel-nav-right{
    position: absolute;
    right: 10px;
    bottom: 50%;
}
.nav-icon{
    font-size: 45px !important;
}
.carousel-nav:hover{
    color: #f5c518;;
}
.video-link{
    text-decoration: none;
    color: #fff;
}
.video-link:hover{
    color: #f5c518;
}
.vertical-carousel h3{
    color: #f5c518;
    margin: 0;
}
.vertical-movies-box{
    background-color: #272525;
    margin: 10px 0px;
    padding: 10px;
    box-sizing: border-box;
}
.vertical-movies{
    margin-top:10px;
    display: flex;
}
.vertical-m-details{
    margin-left: 10px;
}
