.movie-carousel-main-container{
    margin: 50px;
}
.carousel-container{
    width: 100%;
    position: relative;
}
.cards{
    display: flex;
    overflow-x: auto;
}
.card{
    background-color: #272525;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
}
.movie-carousel-loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.overlay-icon{
    width: 50px;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    top: -5px;
    cursor: pointer;
}   
.overlay-bookmark-add{
    font-size: 50px !important;
    color:hsla(0, 1%, 44%, 0.562) !important;
}
.overlay-bookmark-add:hover{
    color:hsla(0, 1%, 44%, 0.836)  !important;
}
.overlay-bookmark-done{
    font-size: 50px !important;
    color: #f5c619!important;
}
.overlay-bookmark-done:hover{
    color: hsla(47, 92%, 53%, 0.767)!important;
}
.overlay-add-done-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
}
.movie-carousel-img{
    width: 185px;
    height: 278px;
}
.moviecar-nav{
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 50px;
    background-color: hsla(0, 0%, 93%, 0.295);
    border: 1px solid #ffffffb3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}
.moviecar-nav-left{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 50%;
}
.moviecar-nav-right{
    position: absolute;
    right: 0px;
    bottom: 50%;
}
.carousel-container:hover .moviecar-nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon{
    vertical-align: middle !important;
}
.moviecar-nav:hover{
    color: #f5c518;
}
.card-movie-details{
    padding: 10px;
    box-sizing: border-box;
}
.card-movie-details p{
    margin: 3px 0px;
}
.rating-container{
    display: flex;
    align-items: center;
}
.rating{
    display: flex;
    align-items: center;
    width: 40%;
}
.card-movie-title{
    width: 150px;
    height: 40px;
}
.watchlist-btn{
    margin-top: 25px !important;
    width: 100%;
    background-color: #3b3b3b !important;
    text-transform: capitalize !important;
}
.watch-trailer{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.watch-trailer-btn{
    color: #fff !important;
    text-transform: capitalize !important;
}
.watch-trailer-btn:hover, .not-btn:hover{
    background-color: #3b3b3b !important;
}
.no-trailer-btn{
    width: 71px;
    height: 24px;
}
.not-btn{
    color: #fff !important;
}
.movie-detail-modal{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: auto;
    background-color: #3b3b3b;
    padding: 35px;
    box-sizing: border-box;
    display: block;
    box-shadow: 0 0 0 50vmax rgba(20, 20, 20, 0.068);
    border: 1px solid #f5c518;
    
}
.modal-close-icon{
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}
.modal-close-icon:hover{
    color: #f5c518;
}
.movie-detail-modal-content{
    display: flex;
    margin-bottom: 15px;
}
.movie-detail-modal-detail{
    margin-left: 15px;
}
.movie-detail-modal-img{
    width: 90px;
    height: 115px;
}
.movie-detail-modal-heading, .movie-detail-modal p{
    margin: 5px 0px;
}
.movie-detail-modal-detail p{
    color: #b3b1b1;
}
.movie-detail-modal p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
.movie-detail-modal-rating{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.no-movie-detail-modal{
    display: none;
}
.watch-trailer-btn a{
    text-decoration: none;
    color: #fff;
}
.cards::-webkit-scrollbar{
    height: 10px;
}
.cards::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}
.cards::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
}
.cards::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


