.signin-container{
    padding: 20px 25px;
}
.empty-login-error{
    margin: 5px 0px 0px;
    font-size: 12px;
    color: #c40000;
}
.login-error{
    margin: 15px auto 0px;
    color: #c40000;
}
.no-login-error{
    display: none;
}
#text-with-line{
    margin: 20px auto 0px;
    border-bottom: 1px solid #e7e7e7;
    height: 7px;
    text-align: center;
    font-size: 12px;
}
#text-with-line span{
    background-color: #fff;
    padding: 0px 5px;
    color: #767676;
}
.signin-btn-signinpage{
    margin-top: 10px;
    height: 30px;
    border-radius: 7px;
    background-color: #ffd814;
    border: none;
    cursor: pointer;
}
.signin-btn-signinpage:hover{
    background-color:#f5c518;
}
.create-new-acc-icon-signinpage{
    margin-top: 10px;
    height: 30px;
    border-radius: 7px;
    border: none;
    border: 1px solid #D5D9D9;
    background-color: #fff;
    cursor: pointer;
}
.create-new-acc-icon-signinpage:hover{
    background-color: #f8f7f7;
}