header{
    background-color: #1a1919;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 5px  #494949cc;
    position: relative;
    z-index: 2;
}
.imdblogo{
    height: 35px;
    width: 70px;
    cursor: pointer;
}
.header-btn{
    color: #fff !important;
    text-transform: capitalize !important;
    margin: 0px 10px !important;
    padding: 5px 15px !important;
    box-sizing: border-box !important;
}
.header-btn:hover{
    background-color: #272525 !important;
}
.header-btn-text{
    margin-left: 5px;
    line-height: 100%;
}
.menu-box{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: #1a1919;
    padding: 40px 160px;
    box-sizing: border-box;
}
.menu-box-header{
    display: flex;
    justify-content: space-between;
}
.imdblogo-in-modal{
    height: 50px;
    width: 100px;
}
.close-icon{
    background-color: #f5c518;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
}
.menu-box-body{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-box-container{
    width: 33%;
    display: flex;
    flex-direction: column;   
    padding: 20px;
    box-sizing: border-box; 
}
.menu-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-icon{
    color:#f5c518;
    height: 25px;
}
.menu-heading h2{
    margin: 0;
    font-size: 25px;
    width: 88%;
}
.menu-links-container{
    margin-left: 12%;
}
.menu-links{
    cursor: pointer;
}
.search-container{
    display: flex;
    height: 35px; 
    width: 45%;
    border-radius: 5px;
}
.search-select{
    background-color: #fff;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.search-box{
    background-color: #fff;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.search-input{
    border: none;
}
.search-input:focus, .search-select:focus{
    outline: none;
}
.select-language{
    height: 35px;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}
.select-language:hover{
    background-color: #272525;
}

