.otp-verif-container{
    padding: 20px 25px;
}
#otp-verif-desc, #otp-verif-condition{
    font-size: 14px;
    line-height: 20px;
    width: 95%;
}
#otp-verif-condition{
    font-size: 12px;
}
.otp-error{
    margin: 5px 0px -10px;
    font-size: 12px;
    color: #c40000;
    display: flex;
    align-items: center;
}
.no-otp-error{
    display: none;
}
.resend-otp{
    display: inline-block;
    margin: 20px auto 5px;
    font-size: 14px;
    color: #007185;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.resend-otp:hover{
    text-decoration: underline;
}