.acc-settings-page{
    background-color: #d8d8d6;
}
.acc-settings-box{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #000;
    padding: 20px 20px 80px;
    box-sizing: border-box;
}
.acc-settings-box h2{
    font-size: 23px;
    margin: 10px 0px;
}
.acc-settings-container{
    display: flex;
    padding: 0px 20px;
    box-sizing: border-box;
}
.acc-settings-container h3{
    color: #6b6a6a;
    font-size: 17px;
}
.acc-settings-container label{
    color: #6b6a6a;
}
.acc-settings-user-profile{
    width: 45%;
    margin-right: 50px;
}
.acc-settings-note{
    font-size: 13px;
    margin: 30px 0px 0px;
}
.change-password{
    width: 40%;
    position: relative;
}
.acc-settings-btns{
    position: absolute;
    right: 0px;
    margin-top: 30px;
}
.cancel-btn, .save-btn{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.save-btn{
    background-color: #ffd814;
}
.cancel-btn{
    background-color: #c4c3c3;
    margin-right: 15px;
}
.cancel-btn:hover{
    background-color: #b6b3b3;
}
.save-btn:hover{
    background-color: #f5c518;
}
.settings-error{
    margin: 5px 0px 0px;
    font-size: 12px;
    color: #c40000;
}
.no-settings-error{
    display: none;
}
